.done-true {
	text-decoration: line-through;
	color: #FF3399;
}
h2 {
	border: 1px solid #FF3399;
	background-color: #b2b2b2;
	text-align:center;
	width: 600px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
td {
	border: 1px solid #FF3399;
}
input, textarea {
	background-color: #cccccc;
	border: 1px solid #FF3399;
}
select {
	background-color: #cccccc;
}
#todoController, .toDo {
	border: 1px solid #FF3399;
	width: 600px;
	background-color: #b2b2b2;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.error {
	color:red;
}
button {
	border: 1px solid #FF3399;
}
#add,button{
	background-color: #CC9999;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;	
}
#remaining{
	color: #FF3399;
	font-style: oblique;
	font-size: 1.5pc;
}
