/*Decoration on done todo task*/
.done-true {
  text-decoration: line-through;
  color: #FF3399;
}
/*Round corners, width, margin, border and background-color for heading
and controlers*/
h2, #todoController, .toDo {
     -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
   -khtml-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  width: 600px;
  margin : 20px;
  background-color: #b2b2b2;          
}
/* Heading height, text-alignement and font-size*/
h2 {
  text-align:center;
  height: 50px;
  font-size: 35px;
}
/*Border settings*/
table, td, label, #todoController, .toDo  {
  border-collapse: separate;
  border-spacing: 2px;
  border: 1px solid #FF3399;
}
/*Margin settings*/
table, label {
  margin : 10px;
}
/*Backrgorund and border settings*/
input, textarea, select {
  background-color: #cccccc;
  border: 1px solid #FF3399;
}
/*Error color*/
.error {
  color:red;
}
/*Border settings*/
button, h2 {
  border: 1px solid #FF3399;
}
/*Background color settings*/
#add,button{
  background-color: #CC9999;
}
/*Remainig tasks span*/
#remaining{
  margin : 20px;
  color: #FF3399;
  font-style: oblique;
  font-size: 1.5pc;
}

